/* GLOBAL */

body {
    background: #000000;
    font-family: "Open Sans";
    color: #ffffff;
}

input {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 5px;
    padding: 5px;
    outline: 0;
    border: 0;
    background: #ffffff;
}

textarea {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 5px;
    padding: 5px;
    outline: 0;
    border: 0;
    background-color: #ffffff;
    resize: none;
}

button {
    float: right;
    margin-top: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 10px;
    line-height: 25px;
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    color: #000000;
    border:0;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
}

h3 {
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 50px;
}

p {
    margin: 15px 0 0 0;
    font-size: 13px;
    line-height: 20px;
}

b {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

.bg-img {
    background: url(../img/main-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 980px;
    margin: 0 auto 0 auto;
}

    .container::after {
        content: '';
        display: block;
        clear: both;
    }

.active-link {
    margin-top: -4px;
    border-top: 4px solid #ffffff;
}


/* HEADER */

header {
    float: left;
    width: 980px;
    margin-top: 30px;
    box-sizing: border-box;
}

    header h1 {
        float: left;
        padding-left: 10px;
        border-left: 4px solid #ffffff;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 24px;
        color: #ffffff;
    }

nav {
    float: right;
    margin-top: 25px;
}

    nav ul {
        list-style: none;
    }

        nav ul li {
            display: inline-block;
            margin-left: 5px;
            width: 130px;
        }

            nav ul li a {
                display: block;
                padding: 10px 0 0 8px;
                border-top: 1px solid #ffffff;
                font-size: 14px;
                text-transform: uppercase;
            }

                nav ul li a:hover {
                    margin-top: -4px;
                    border-top: 4px solid #ffffff;
                }

/* CONTENT */

.wrapper {
    float: left;
    width: 980px;
    min-height: 650px;
    margin-top: 75px;
}

.content {
    float: left;
    width: 50%;
}

.thumbnail {
    margin: 15px 0 0 15px;
}

.thumbnail_first {
    margin: 0;
}

.image {
    float: left;
    width: 50%;
}

    .image img {
        float: right;
    }

.contact-info-container {
    float: left;
    width: 30%;
}

    .contact-info-container ul {
        display: block;
        width: 100%;
        margin-top: 50px;
        list-style: none;
    }

        .contact-info-container ul li {
            display: block;
            height: 40px;
            margin-top: 10px;
        }

            .contact-info-container ul li img {
                float: left;
                height: 40px;
            }

            .contact-info-container ul li p {
                float: left;
                margin: 10px 0 0 10px;
                font-size: 14px;
                font-weight: bold;
            }

.contact-form-container {
    float: left;
    width: 70%;
}

    .contact-form-container form {
        width: 510px;
        margin-top: 65px;
    }

/* FOOTER */

footer {
    float: left;
    width: 980px;
    margin: 75px 0 30px 0;
    font-size: 12px;
    text-transform: uppercase;
}

    footer .social {
        float: right;
    }

        footer .social a {
            margin-left: 10px;
        }
